<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- SEO Meta Tags -->
      <title>Proviz School of AI - Empowering Future Innovators in Artificial Intelligence</title>
      <meta name="description" content="Proviz School of AI offers cutting-edge AI education and training programs to help students and professionals excel in the field of artificial intelligence.">
      <meta name="keywords" content="AI education, Artificial Intelligence courses, Proviz School of AI, Machine Learning training, AI institute, Future of AI">
      <meta name="author" content="Proviz School of AI">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/LineIcons.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/nivo-lightbox.css">
    <link rel="stylesheet" href="/css/main.css">    
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/services") %>
    <%- include("./partials/business") %>
    <%- include("./partials/features") %>
    <%- include("./partials/pricing") %>
    <%- include("./partials/testimonals") %>
    <%- include("./partials/team") %>
    
   
    <%- include("./partials/footer") %>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/js/jquery-min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.js"></script>      
    <script src="/js/jquery.nav.js"></script>    
    <script src="/js/scrolling-nav.js"></script>    
    <script src="/js/jquery.easing.min.js"></script>     
    <script src="/js/nivo-lightbox.js"></script>     
    <script src="js/jquery.magnific-popup.min.js"></script>     
   
    <script src="/js/main.js"></script>
    
</body>
</html>